.container {
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 3;
  padding: 14px 0;
}

.elmt {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.elmt:hover {
  cursor: pointer;
}

.elmt img {
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.lovesIcon {
  z-index: 0;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-55%) rotate(15.65deg);
}
